{{extend 'layout.html'}}
{{pd = db((db.asistente).count()}}
{{tot = db(db.asistente).count()}}
<div class="frame">
<h2>{{=T('Conference Participants')}}</h2>
<table>
<tr><td width="10px"/><td>
{{=T('%5d Pending Registrations',tot-pd)}}
</td></tr><tr><td width="10px"/><td>
{{=T('%5d Completed Registrations',pd)}}
</td></tr><tr><td width="10px"/><td>
{{=T('%5d Total Paid and Pending Registrations',tot)}}
</td></tr>
</table>
<br/>
{{if not session.manager:}}
<i>{{=T("Here is a partial list of conference attendees, showing everyone who wished to make their attendance public.")}}</i>
{{else:}}<i>{{=T('Below is the complete list, as accessible to managers only.')}}</i>{{pass}}<br/><br/>
<table>
<tr><th width="200px">{{=T("Name")}}</th><th>{{=T("Company")}}</th>
{{if session.manager:}}<td><b>Email</b></td>{{pass}}
</tr>
{{for row in rows:}}
<tr>
<td>{{=A(row.nombre+' '+row.apellido)}}</td><td>{{=A(row.institucion)}}</td>
{{if session.manager:}}<td><a href="mailto:{{=row.email}}">{{=row.email}}</a></td>{{pass}}
</tr>
{{pass}}
</table>

</div>
